
<!-- TITULO DE PAGINA -->

<div class="row mt-3">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="alert alert-primary">
            <h4 class="text-center">
                <i class="bi-emoji-sunglasses"></i> Lista de Tutoriales <i class="bi-emoji-sunglasses"></i>
            </h4>
        </div>
    </div>
    <div class="col-3"></div>
</div>

<!-- GRILLA DE DATOS -->
<div class="row mt-3">

</div>